.card{
    background-color: cornsilk;
}

.container{
    margin-top: 4rem;
    
}
.btn{
    margin-top: 1rem;
}
.fa{
    color: brown;
    text-align: center;
    font-size: 3rem;
}
.nav{
   background-color: #61000b;
}
body{
    background-color: rgba(0, 0, 0, 0.075);
}